<h2><%= current_user.email %></h2>
<hr>
<p><b>Current weight: </b><%= current_user.weight %></p>
<p><b>Goal Weight: </b><%= current_user.goal_weight %></p>
<p><b>Max Calories per day: </b><%= current_user.max_calories %></p>