<h3>Food Journal:</h3>

<div class="panel-group" id="day_id" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          #1 : TIME STAMP : Meal Calories
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="list-group table">
          <thead>
            <tr>
              <th>Food</th>
              <th>Kcal</th>
              <th>Servings</th>
              <th>Calories</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chicken</td>
              <td>140</td>
              <td>3</td>
              <td>420</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          #2 : TIME STAMP : Meal Calories
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <table class="list-group table">
          <thead>
            <tr>
              <th>Food</th>
              <th>Kcal</th>
              <th>Servings</th>
              <th>Calories</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chicken</td>
              <td>140</td>
              <td>3</td>
              <td>420</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          #3 : TIME STAMP : Meal Calories
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <table class="list-group table">
          <thead>
            <tr>
              <th>Food</th>
              <th>Kcal</th>
              <th>Servings</th>
              <th>Calories</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Chicken</td>
              <td>140</td>
              <td>3</td>
              <td>420</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
