@import "bootstrap";

.col-xs-one-seventh,
.col-sm-one-seventh,
.col-md-one-seventh,
.col-lg-one-seventh {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-one-seventh {
  width: 14.28%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-one-seventh {
    width: 14.28%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-one-seventh {
    width: 14.28%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-one-seventh {
    width: 14.28%;
    float: left;
  }
}
