<!DOCTYPE html>
<html>
<head>
  <title>BodyEconomics</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
